.nav {
  display: flex;
  flex-direction: column; /* Set flex direction to column for a vertical layout */
  align-items: flex-end;
}

.navbar {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px;
  border: 1px solid #333;
  padding: 8px;
  transition: all 0.3s ease; 
}
.navbar li:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
